table  {
    border-collapse: collapse;
}

table td, th  {
    padding: 15px;
}

.create-button  {
    color: blue;
    cursor: pointer;
    padding: 5px;
}
.edit-button  {
    padding: 2px 5px;
    background: #808040;
    cursor: pointer;
}

.delete-button  {
    padding: 2px 5px;
    background: #ff0000;
    cursor: pointer;
}